name: Test-Jaildk

on:
  push:
    branches:
      - main


jobs:
  test:
    runs-on: ubuntu-latest
    name: Test jaildk on FreeBSD
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Test in FreeBSD
      uses: vmactions/freebsd-vm@v1
      id: testjaildk
      with:
        release: "14.3"
        usesh: true
        prepare: |
          pkg install -y curl cpdup

        run: |
          freebsd-version
          sysctl hw.model
          sysctl hw.ncpu
          sysctl hw.physmem
          sysctl hw.usermem
          ls -la
          ifconfig em0 172.16.0.1/32 alias
          ifconfig -a
          set -x -e
          sysrc jail_enable="YES"
          cp .github/assets/jail.conf /etc/

          cp src/jaildk.sh jaildk
          sh jaildk setup /jail

          fetch https://download.freebsd.org/ftp/releases/amd64/amd64/14.3-RELEASE/base.txz -o /jail/base/14.3-RELEASE-base.txz
          mkdir -p /jail/base/14.3-RELEASE
          tar -xf /jail/base/14.3-RELEASE-base.txz -C /jail/base/14.3-RELEASE --unlink

          /jail/bin/jaildk create test
          ls -l /jail/etc/test
          /jail/bin/jaildk build test -m start
          df -h /jail/build/test/etc

          echo 'sshd_enable="Yes"' > /jail/build/test/usr/local/etc/rc.conf
          chroot /jail/build/test /etc/rc.d/sshd keygen

          /jail/bin/jaildk start test
          /jail/bin/jaildk status | grep -E "test|Jail"
          
          
